<div class="jumbotron test-center" style="background-color:#bef422">
  <h1 class="display-3 text-center">ToshaDev Lead Management Center</h1>
  <p class="lead text-center">Search for leads, Manage leads, Create/Edit leads, Correspond with prospects. This Lead management application is still under development, please be patient.</p>
  <div class="text-center">
  <a href="/ideas/add" class="btn btn-dark btn-lg ">Add Lead Now!</a>
  </div>
</div>